<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="restooo adalah aplikasi untuk cari restoran sekitar kamu, dengan beberapa fitur restooo kamu bisa nemuin banyak restooo dengan berbagai review mereka jadi klo mau cangs bareng temen-temen bisa lebih OK">
    <title>Restooo: Yuk cari resto terbaik di sekitar kamu..</title>
</head>
<body>
    
</body>
</html>